<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Description</Data></Cell>
        <Cell><Data ss:Type="String">Website</Data></Cell>
        <Cell><Data ss:Type="String">Support Page</Data></Cell>
        <Cell><Data ss:Type="Number">Partner</Data></Cell>
        <Cell><Data ss:Type="String">Partner ID</Data></Cell>
      </Row>
    <% @vendors.each do |vendor| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= vendor.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= vendor.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= vendor.description %></Data></Cell>
        <Cell><Data ss:Type="String"><%= vendor.website %></Data></Cell>
        <Cell><Data ss:Type="String"><%= vendor.support_page %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= vendor.partner %></Data></Cell>
        <Cell><Data ss:Type="String"><%= vendor.partner_id %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>