<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description, as: :bootsy, id: "wysiwyg_textfield" %>
    <%= f.input :specs %>
    <%= f.collection_select :vendor_id, Vendor.order(:name), :id, :name, include_blank: 'Select One...' %>
    <%= f.input :vpn %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>