<h1>Listing items</h1>

<div class="btn-toolbar"> 
  <%= link_to 'Add Item', new_item_path, class: "btn btn-primary" %>
</div>
<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Manufacturer</th>
        <th>Part Number</th>
        <th>MSRP</th>
        <th style="width: 36px;">
        </th>
      </tr>
    </thead>  
      <tbody>
    <% @items.each do |item| %>
      <tr style="cursor: pointer;">
        <td onclick="window.location.href = '<%= item_path(item) %>'"><%= item.name %></td>
        <td onclick="window.location.href = '<%= item_path(item) %>'"><%= truncate(item.description, :length => 100) %></td>
        <td onclick="window.location.href = '<%= vendor_path(item.vendor_id) %>'"><%= item.vendor.name %></td>
        <td><%= item.vpn %></td>
        <td><%= humanized_money_with_symbol item.msrp %></td>
        <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_item_path(item) %><%= link_to '<i class="icon-remove"></i>'.html_safe, item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
<%= form_tag import_items_path, multipart: true do %>
  <%= file_field_tag :file%>
  <%= submit_tag "Import" %>
<% end %>
