<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Specs:</strong>
  <% @item.tag_list.each do |tg| %>
    <span class="label"><%= tg %></span>
  <% end %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @item.vendor.name %>
</p>

<p>
  <strong>Vpn:</strong>
  <%= @item.vpn %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
