<%= wicked_pdf_stylesheet_link_tag 'application' %>

<p id="notice"><%= notice %></p>

<p>
  <h2><%= @item.vendor.name %> <%= @item.name %></h2>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Specs:</strong>
  <%= @item.specs %>
</p>

<p>
  <strong>Vpn:</strong>
  <%= @item.vpn %>
</p>